<!-- Categories Icons -->
<div class="mb-4">
  <label class="form-label">Select Categories</label>

  <div class="filters">

    <label class="filter-option">
      <input type="checkbox" name="listing[categories]" value="iconic_city">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic City</p>
    </label>

    <label class="filter-option">
      <input type="checkbox" name="listing[categories]" value="mountains">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountain</p>
    </label>

    <label class="filter-option">
      <input type="checkbox" name="listing[categories]" value="pool">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Pools</p>
    </label>

    <label class="filter-option">
      <input type="checkbox" name="listing[categories]" value="castles">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </label>

    <label class="filter-option">
      <input type="checkbox" name="listing[categories]" value="rooms">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </label>

    <label class="filter-option">
      <input type="checkbox" name="listing[categories]" value="camping">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </label>

    <label class="filter-option">
      <input type="checkbox" name="listing[categories]" value="farms">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </label>

    <label class="filter-option">
      <input type="checkbox" name="listing[categories]" value="arctic">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </label>

  </div>
</div>